{% extends 'layout.html' %}

{% block title %}Participantes{% endblock title %}

{% block body %}
<body>
{% include 'header.html' %}

<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nombre institución</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>random</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
{% endblock body %}